{% extends "base.html" %}

{% block content %}
    <h1>Admin Dashboard</h1>
    
    <!-- Flash messages container -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <i class="fas fa-info-circle"></i> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Occupation</th>
                <th>Preferred Contact Method</th>
                <th>Reason for Interest</th>
                <th>Approved</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.occupation }}</td>
                    <td>{{ user.preferred_contact_method }}</td>
                    <td>{{ user.reason_for_interest }}</td>
                    <td>{{ 'Yes' if user.is_approved else 'No' }}</td>
                    <td>
                        <div style="padding-right: 20px;"> <!-- Adds padding to the right side of the button container -->
                            {% if not user.is_approved %}
                                <a href="{{ url_for('main.approve_user', user_id=user.id) }}" class="btn btn-sm btn-primary">Approve</a>
                            {% else %}
                                <a href="{{ url_for('main.suspend_user', user_id=user.id) }}" class="btn btn-sm btn-danger">Suspend</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
