<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Block GPT{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <div class="navbar-logo">
                    <a href="{{ url_for('main.index') }}">
                        <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="SQOIN Logo" style="height: 50px;">
                    </a>
                </div>
                <ul class="navbar-links">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.index') }}">Home</a></li>
                        {% if current_user.is_admin %}
                            <li><a href="{{ url_for('main.admin') }}">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <i class="fas fa-info-circle"></i> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>